<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <filter>
    <filter-name>LogFilter</filter-name>
    <filter-class>com.edu.StudentShare.LogFilter</filter-class>
    <init-param>
      <param-name>log_path</param-name>
      <param-value>C:\\log\\web.log</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>LogFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <display-name>mtadb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DBadmin</display-name>
    <servlet-name>DBadmin</servlet-name>
    <servlet-class>com.edu.StudentShare.DBadmin</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>UserConnect</display-name>
    <servlet-name>UserConnect</servlet-name>
    <servlet-class>com.edu.StudentShare.student.UserConnect</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>UserRegister</display-name>
    <servlet-name>UserRegister</servlet-name>
    <servlet-class>com.edu.StudentShare.student.UserRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBadmin</servlet-name>
    <url-pattern>/DBadmin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserConnect</servlet-name>
    <url-pattern>/UserConnect</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserRegister</servlet-name>
    <url-pattern>/UserRegister</url-pattern>
  </servlet-mapping>
</web-app>