<!DOCTYPE html>

<html>
<head>

</head>

<!-- apply angular app and controller to our body -->
<body  ng-app="scotchApp" ng-controller="recommendedProductsCtrl">

<div class="a">
    <label class="item item-input">
        <i class="glyphicon glyphicon-search"></i>
        <input type="text" search-products name="username" ng-model="user.username" ng-minlength="6" maxlength="24" required>

    </label>
</div>

<ion-content>

    <div class="list">
        <span class="noResultFound" ng-show="recommendedProducts==0">No result found!</span>
        <a ng-repeat="item in recommendedProducts"
           class="item item-thumbnail-left">

            <img ng-src="{{ item.imageUrl}}"  fallback-src="http://icons.iconarchive.com/icons/custom-icon-design/flatastic-2/72/product-icon.png" style="width: 100px; height: 100px" >
            <h2>{{item._productName}}</h2>
            <h4>Left:{{ item._quntity }}</h4>
            <h4>description:{{ item.description }}</h4>

            <span ng-click="addToCart(item.id)" class="glyphicon glyphicon-heart" style=" color: #007aff; font-size: large">
            </span>
            <div class="pull-right">
                <button type="submit" ng-click="addToCart(item.id)" class="btn btn-primary">
                 <i ng class="glyphicon glyphicon-shopping-cart"> {{ item.price }}$</i>
                </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;



            </div>

        </a>

    </div>

</ion-content>



</body>
</html>