<!-- Register.html -->
<!DOCTYPE html>
<html>
<head>
    <!-- CSS ===================== -->
    <!-- load bootstrap -->
    <!-- 	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet"  type="text/css" href=1.css>
    <link rel="stylesheet" href="bootstrap.css">

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />

    <!-- JS ===================== -->
    <!-- load angular -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
    <script src="app.js"></script>
</head>

<!-- apply angular app and controller to our body -->
<body ng-app="validationApp" ng-controller="MessagesCtrl">
<!-- HEADER AND NAVBAR -->

<div class="container">
    <div class="col-sm-8 col-sm-offset-2">
        <button ng-click="viewReceivedMessages()" >Submit </button>

        <!-- PAGE HEADER -->
        <div ng-repeat="x in TotalRecivedMesseages">
            <div ><td>from id:{{x.senderUserName}}</td></div>
            <div > <td>Title:  {{ x.title }}</td></div>
            <div ><td>Message:{{ x.contant }}</td></div>
            <br>
        </div>

        <div ng-repeat="x in TotalMessages">
            <div ><td>from id:{{x.senderUserName}}</td></div>
            <div > <td>Title:  {{ x.title }}</td></div>
            <div ><td>Message:{{ x.contant }}</td></div>
            <br>
        </div>
        <div id="main">
            {{ message }}
            <!-- angular templating -->
            <div ng-view></div>

            <!-- this is where content will be injected -->
        </div>

    </div><!-- col-sm-8 -->
</div><!-- /container -->
</body>
</html>